<% if room.teachers.count.positive? %>
  <div class="card mt-3">
    <div class="card-body text-center">
      <h6>Teachers</h6>
      <% room.teachers.each do |teacher| %>
        <%= image_tag teacher.user.avatar_url, class: 'avatar' %>
      <% end %>
    </div>
  </div>
<% end %>

<% if tickets.count.positive? %>
  <div class="row my-3 justify-content-end">
    <% if policy(room.tickets.new).create? %>
      <%= link_to 'Open a Ticket', new_room_ticket_path(@room), class: 'btn btn-primary' %>
    <% end %>
  </div>
  <% tickets.each do |ticket| %>
    <%= render partial: 'ticket_item', locals: { ticket: ticket } %>
  <% end %>
<% else %>

  <div class="card mt-5">
    <div class="card-body text-center">
      <h2 class="my-5">No Tickets Yet</h2>

      <% if policy(room.tickets.new).create? %>
        <%= link_to 'Open a Ticket', new_room_ticket_path(@room), class: 'btn btn-primary' %>
      <% else %>
        <span class="badge badge-secondary">Only students can open tickets</span>
      <% end %>


    </div>
  </div>


<% end %>




