<div class="container">

  <h1 class="mb-4 mt-2">Open Rooms</h1>

  <div class="row my-3 justify-content-end">
      <% if policy(Room).create? %>
        <%= link_to 'Create new Room', new_room_path, class: 'btn btn-success' %>
      <% end %>
  </div>



  <% @rooms.each do |room| %>
    <div class="card mb-3">
      <div class="card-body border-left border-success">
        <h5 class="mb-0"><%= link_to room.name, room_path(room), class: 'text-decoration-none' %></h5>
      </div>
    </div>
  <% end %>




</div>