<div class="container">

  <div class="row my-3 justify-content-end">
      <% if policy(Room).create? %>
        <%= link_to 'Create new Room', new_room_path, class: 'btn btn-success' %>
      <% end %>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Room Name</th>
        <th scope="col">Tickets</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= link_to room.name, room_path(room) %></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>