<div class="container">

  <h1 class="mt-3">
    <%= @room.name %>
    <% if policy(@room).update? %>
      <%= link_to edit_room_path(@room), class: 'btn btn-outline-secondary' do %>
        <i class="fas fa-cog"></i>
      <% end %>
    <% end %>

  </h1>

  <div id="tickets" data-room-id="<%= @room.id %>">
    <%= render partial: 'tickets', locals: {room: @room, tickets: @tickets} %>
  </div>

</div>