<div class="container">

  <div class="row my-3 justify-content-end">
      <% if policy(Ticket).create? %>
        <%= link_to 'New Ticket', new_room_ticket_path(@room), class: 'btn btn-primary' %>
      <% end %>
  </div>

  <% @tickets.each_with_index do |ticket, index| %>
    <%= render partial: 'ticket', locals: { ticket: ticket, index: index } %>
  <% end %>


</div>